
html,body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;  
}

.main {
    background: url('/assets/images/Desktop-1.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.loginbg {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.loginbg img {
    width: 100%;
    height: 100%;
}

.LoginCard {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    width: 500px;
    height: fit-content;
    margin-left: 450px;
    margin-top: 200px; 
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0% 4px 8px rgba(128, 128, 128, 0.5);
}

.LoginCard h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.f1 {
    margin-left: 20px;
}

form label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

form input {
    height: 30px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.3);
    border-color: rgba(192, 192, 192, 0.3);
}

form button {
    font-size: large;
    height: 35px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .LoginCard {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px; 
    }
    .main {
        background-position: center;
    }
}
@media only screen and (min-width: 992px) {
    .LoginCard {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
    }
}


@media only screen and (min-width: 1200px) {
    .LoginCard {
        width: 40%; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 298px; 
    }
}

